@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-primary: rgb(0, 65, 119);
  --blue-secondary: rgb(103, 185, 252);
  --blue-primary-light: rgba(0, 87, 158, 0.664);
  --blue-focus: rgba(0, 119, 199, 0.527);
  --grey-input: rgba(147, 192, 221, 0.301);
  --white: #ffffff;
  --gray-border: rgba(128, 128, 128, 0.5);
  --black-shadow: rgba(0, 0, 0, 0.185);
  --black-shadow-light: rgba(0, 0, 0, 0.062);
  --gradient-blue: linear-gradient(3deg, var(--blue-secondary), var(--blue-primary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

h1 {
  color: var(--blue-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid rgba(221, 221, 221, 0.623);
}

.logo {
  background: var(--gradient-blue);
  color: var(--white);
  padding: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  width: 100%;
  max-width: 40rem;
  border-radius: 20rem;
  transition: all 0.3s ease;
}

.search:hover {
  background: rgba(134, 200, 255, 0.212);
}

.search i {
  font-size: 1.1rem;
  color: #888;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #333;
}

.profile,
.profile p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgba(2, 63, 92, 0.856);
  margin-right: 1rem;
}

.profile i {
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.createTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 170px;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.createTaskContainer button {
  width: 150px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.functionsButtons {
  display: flex;
  justify-content: space-around;
}

.addTask,
.filterTask,
.deleteAll,
.butttonsInterative button {
  background: linear-gradient(135deg, #b9daff 50%, #3b82f6 50%);
  background-size: 200% 200%;
  background-position: top left;
  color: var(--blue-primary);
  border: 2px solid transparent;
  font-size: 1.2rem;
  transition: background-position 0.6s ease, color 0.4s ease, border 0.3s ease;
}

.addTask:hover,
.filterTask:hover,
.deleteAll:hover,
.butttonsInterative button:hover {
  background-position: bottom right;
  border-color: #3b82f6;
  color: var(--white);
}

.butttonsInterative button {
  width: 50px;
  padding: 5px;
  border-radius: 10px;
}

.cardsTask {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.cardTaskCreate {
  height: auto;
  width: 580px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.cardTaskCreate h3 {
  color: var(--blue-primary);
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#taskStatusSelect {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.priority {
  padding: 7px;
  border-radius: 10px;
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.295);
  color: red;
}

.logOut {
  width: 60px;
  border: none;
  border-radius: 1rem;
  background: rgba(201, 0, 0, 0.788);
  color: var(--white);
}

.card {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
  animation: slideUpFade 0.2s ease;
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--blue-primary);
}

.card label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

.card input,
.card textarea,
.card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#submitCreateTask,
#applyFiltersButton {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 76, 139, 0.685);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submitCreateTask:hover,
#applyFiltersButton:hover {
  background: rgba(0, 62, 134, 0.836);
}

#buttontExitTask{
  width: 100%;
  padding: 12px;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(139, 0, 0, 0.685);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
#submitExitFilter{
   width: 100%;
  padding: 12px;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(139, 0, 0, 0.685);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submitExitFilter:hover{
    background: rgba(194, 0, 0, 0.842);
}
#buttontExitTask:hover {
  background: rgba(194, 0, 0, 0.842);
}

#backgroundForm {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 20;
}

.alertDeleteAll {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  display: none ;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: slideUpFade 0.2s ease;
}
.alertTaskDelete{
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  display: none;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: slideUpFade 0.2s ease;
}

.alertTaskProcess{
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  display: none;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: slideUpFade 0.2s ease;
}
.alertTaskProcess i {
  font-size: 10rem;
  color: rgba(163, 7, 7, 0.733);
}
.alertDeleteAll i {
  font-size: 10rem;
  color: rgba(163, 7, 7, 0.733);
}
.alertTaskDelete i{
  font-size: 10rem;
  color: rgba(163, 7, 7, 0.733);
}
.confirmation button {
  width: 130px;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.confirmation button:hover {
  transform: translateY(-5px);
}

.yes {
  background: rgba(0, 76, 139, 0.685);;
}

.No {
  background: rgba(255, 0, 0, 0.473);
}

.yes:hover {
  background: rgba(0, 62, 134, 0.836);
  color: var(--white);
}

.No:hover {
  background:  rgba(194, 0, 0, 0.842);
  color: var(--white);
}

@keyframes slideUpFade {
  from {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
